/*
* form styles
*/
.form-group{
	> .controls{
		&::before,
		&::after{
			content: '';
			display: table;
			clear: both;
		}
	}
	&.half{

		> .form-control{
		width: 50%;
		float: left;
		position: relative;
		}
		&::after, ::before{
			content: '';
			display: table;
			clear: both;
		}
	}
	&.half-thr{
		> .form-control,.popover-btn{
			float: left;
			position:relative;
		}
		> .form-control{
			width: 80%;
		}
		> .popover-btn{
			width: 20%;
			z-index: 10;
		}
		&::after, ::before{
			content: '';
			display: table;
			clear: both;
		}
	}
}
.navbar-collapse{
	padding-left:0px;

}
#main-container-order{
	position: relative;
	min-height: 800px;
	padding-top: 45px;
}
//------------- Main content -------------//
.main {
    transition: width 0.3s;
    padding-left: 20px;
}

@import "components/nav_top";

@import "components/input_s_group";

@import "components/form";

@import "components/sidebar";

//------------- Table views -------------//
@import "components/table";

aside.fixed{
	h2,h4,
	label{
		color:#fff;
	}
	
}

.btn-tgl{
	position:absolute;
	top: 46px;
	right: 0;
	width: 40px;
	height: 40px;
	> .fa{
		font-size: 28px;
	}
	&:hover{
		cursor: pointer;
	}
}

@media only screen and (max-width: 1280px) {
    .btn-tgl{
        display: block;
    }
}

@media (min-width: 768px){
	.navbar-nav>li>a {
		padding-top: 13px;
		padding-bottom: 12px;
	}
}
@media (max-width: 768px) {
	.navbar-collapse{
		float: none !important;
		background-color: rgb(238, 238, 238);
	}
}