.files-bank{

	ul{
		list-style: none;
		.file-name,
		.file-size,
		.file-time{
			position: relative;
			float: left;
			padding-right: 15px;
			width: 33%;
		}
		.file-name{}
		.file-size p{
			float: left;
			display: block;
		}
		.file-size p:before{
			content: '(\00a0';
			float: left;
		}
		.file-size p:after{
			content: '\00a0)';
		}
		.file-time{}
	}
}