/*
** control-group is 
** block width inputs radio and chekboxes
** block width half styles if sibedar is big
** block width data_picker
** block width label_status order status
** block width data_conrols period
*/
.control-group{
	margin-bottom: 15px;
	display: table;
	width: 100%;
	&.deskr{
		text-align: center;
	}
	&.half input{
		float: left;
		width: 50%;
	}
	&.half-thr{
		input{
			float: left;
			width: 75%;
			position: relative;
		}
		a {
			width: 25%;
			float: left;
			position: relative;
		}
	}
}
.control-label {
	padding-top: 0px;
	text-align: left;
	margin-bottom: 2px;
}

.controls {
	margin-left: 0px;
	input,
	textarea {
		font-size: 14px;
		color: #555;
		padding: 10px 12px;
		background-color: #fff;
		border: 1px solid #ccc;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
		width: 100%;
	}
	textarea{
		resize: vertical;
	}
	> .radio, .checkbox{
		padding-left: 20px;
		input{
			width: auto;
			padding:0;
		}
	}
}

/* block width data_picker */
.ui-datepicker{
	background-color:#fff;
	th{
		padding:3px;
	}
}

/* label_status */
.label-warning{
	text-decoration: line-through;
	color: #ccc;
	background: none
}
.label-success {
	background-color: #5cb85c;
}

/* data_conrols */
.data-controls{
	margin-top: 20px;
	margin-bottom:10px;
}

.form-signin {
	max-width: 330px;
	padding: 15px 0;
	margin: 0 auto;
}