/*
** navigation styles
*/
.nav{
	&.nav-tabs{
		max-width: 330px;
		padding: 0;
		margin: 0 auto;
	}
}
/**/
.navbar-nav{
	&.user-menu{
		> li{
			padding-top:4px;
			padding-bottom:4px;
		}
		> li > p {
			text-align: center;
			margin: 0 0 2px;
		}
		> li >a {
			float: left;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}
/*
** end navigation styles
*/

/*
** begin styles for drop down
*/
.dropdown-menu {
    min-width: 120px;
    width: 100%;

    > li > a{
        padding: 3px 5px;
        color: #262626;
    }
}
.btn .caret{
	margin-left: 10px;
}
/*
** end styles for drop down
*/