/*
** Sidebar theme big
*/
.row.sidebar-big{
    > .sidebar{
        width: 66.66666667%;
        > .search-prod > ul{
        	padding:0px;
          > li{
            margin-bottom: 20px;
          }
          .dropdown{
            margin-top: 22px;
          }
          .dropdown,
          .control-group{
            width: 33%;
            float: left;
            position: relative;
          }
          .control-group.actions{
            width: 100%;
          }
        }

       .region-menu{ 
          h2{
            float: left;
          }
          .dropdown {
            float: right;
            display: block;
            margin-top: 20px;
            margin-bottom: 10px;
            width: 50%;
          }
       }
      .table-bordered td:nth-child(1),
      .table-bordered th:nth-child(1),
      .table-bordered td:nth-child(3),
      .table-bordered th:nth-child(3),      
      .table-bordered td:nth-child(4),
      .table-bordered th:nth-child(4),      
      .table-bordered td:nth-child(5),
      .table-bordered th:nth-child(5),
      .table-bordered td:nth-child(6),
      .table-bordered th:nth-child(6){
        display: table-cell;
      }
      .data-controls{
        
      }
    }
    /* theme for main content right side */
    > .main{
       	width: 33.33333333%;
    	.table-bordered td:nth-child(1),
   		.table-bordered th:nth-child(1),
   		.table-bordered td:nth-child(3),
   		.table-bordered th:nth-child(3),   		
   		.table-bordered td:nth-child(4),
   		.table-bordered th:nth-child(4),   		
   		.table-bordered td:nth-child(5),
   		.table-bordered th:nth-child(5),
   		.table-bordered td:nth-child(6),
   		.table-bordered th:nth-child(6){
            display: none;
  		}
      .header-order small,
      .header-order > h5{
        display: none;
      }
      .header-order h1{
        margin-top: 0px;
        margin-bottom: 5px;
      }
      .header-desc h3{
        font-size: 13px;
        margin-top: 10px;
      }
  	}
}
/*
** end left sidebar if it big
*/

/*
** begin sidebar normal
*/
.sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        padding:0;
        display: block;
        border-right: 1px solid #eee;
        transition: width 0.3s;
        background-color: #e7e7e7;
    /* btn toogle main styles */
    .toogle-btn{
      width: 20px;
      height: 100%;
      clear: both;
      position: absolute;
      display: none;
      top: 0%;
      right: -20px;
      cursor: pointer;
      background-color: #f8f8f8;
      transition: all .5s;
      z-index: 1000;
      background-image: url(icon.jpg);
      background-repeat: no-repeat;
      background-position: center center;
    }
    .search-prod > ul{
      padding:0;
        li{
          list-style: none;
          text-align: left;
          padding: 0;
          > a{
            padding: 10px;
          }

          > a:hover,
          > a:focus{
            background: rgba(0, 0, 0, 0.2);
            text-decoration: none;
          }
      }
    }
    > .search-prod > ul{
        > li > a{
          color: #000;
          position: relative;
          display: block;
          padding: 10px 15px;
          text-align: left;
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
      }
    }
    .region-menu > .dropdown{
      > a{
        display: block;
      }
      > ul > li > a{
        padding:10px 15px;
      }
    }
    .control-group.actions{
      > .checkbox{
        padding-left: 20px;
      }
    }
    .search-result{
      .table-bordered td:nth-child(1),
      .table-bordered th:nth-child(1),
      .table-bordered td:nth-child(3),
      .table-bordered th:nth-child(3),
      .table-bordered td:nth-child(5),
      .table-bordered th:nth-child(5),
      .table-bordered td:nth-child(9),
      .table-bordered th:nth-child(9){
        display: none;
      }
    }
}
/*
** end sidebar normal
*/