/*
** begin table styles
*/
.table-bordered{
	width:100%;
	text-align:center;
	& td:nth-child(5),
	& th:nth-child(5) {
		text-align:left;
	}
    & tr{
        &:hover {
            > .btn-change{
                span{
                    display: none;
                }
                > .label{
                    display: block;
                }
            }
        }
        > .btn-change{
            min-width: 67px;
            > .label{
                display: none;
            }
        }

    }
    .numeric{
        word-break: break-all;
    }
    /* media querys for table */
    @media only screen and (max-width: 1005px) {
        td:nth-child(2), 
        th:nth-child(2) {
            display: none;
        }
    }
    @media only screen and (max-width: 800px) {
        td:nth-child(1),
        th:nth-child(1) {
            display: none;
        }
    }
    @media only screen and (max-width: 725px) {
        td:nth-child(3),
        th:nth-child(3){
            display: none;
        }
    }
    @media only screen and (max-width: 640px) {
        td:nth-child(8),
        th:nth-child(8){
            display: none;
        }
    }
    @media only screen and (max-width: 421px){
        td:nth-child(4),
        th:nth-child(4),
        td:nth-child(7),
        th:nth-child(7){
            display: none;
        }
    }
    @media only screen and (max-width: 640px) {
        td:nth-child(9),
        th:nth-child(9){
            display: none;
        }
    }
}

/*
** end table styles
*/